.four-ds-container {
    position: relative;
    text-align: center;
    overflow: hidden;
    padding-top: 2rem;
    border-bottom: 1px solid rgba(255, 91, 4, 0.2);
}

.circle-wrapper {
    position: relative;
    width: 250px;
    height: 250px;
    margin: 0 auto 1rem;
}

.orbit-text {
    width: 200px;
    height: 200px;
    animation: spin 20s linear infinite;
    transform-origin: center center;
    position: absolute;
    top: 0;
    left: 0;
}

@keyframes spin {
    100% {
        transform: rotate(360deg);
    }
}

.kennygray-name {
    position: absolute;
    top: 35%;
    left: 40%;
    transform: translate(-50%, -50%);
    font-size: 1rem;
    font-family: "Georgia", serif;
    font-weight: 300;
    z-index: 1;
}

