.navbar {
    background: transparent;
    padding: 1rem 2%;
    overflow-x: hidden;
    top: 0;
    z-index: 1000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    margin: 0;
    position: relative;
}

/* Logo */
.logo-image {
    height: 30px;
    transition: transform 0.3s ease;
}

.mobile-logo {
    display: none;
}

.logo:hover .logo-image {
    transform: scale(1.05);
}

.logo.desktop-logo {
    display: block;
}

.mobile-social-icons {
    display: none;
}

.nav-links {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    gap: 3.5rem;
}

.nav-links li a {
    color: #e4eef0;
    text-decoration: none;
    font-weight: 500;
    font-size: 1rem;
    transition: color 0.3s ease;
    position: relative;
    white-space: nowrap;
}

.nav-links li a:hover {
    color: #ff5b04;
}

.nav-links li a.active {
    color: #ff5b04;
}

.nav-links li a.active::after {
    content: "";
    position: absolute;
    bottom: -3px;
    left: 0;
    width: 100%;
    height: 0.5px;
    background: #ff5b04;
}

.nav-links li a::after {
    content: "";
    position: absolute;
    bottom: -3px;
    left: 0;
    width: 0;
    height: 0.5px;
    background-color: #ff5b04;
    transition: width 0.4s ease-in-out;
}

.nav-links li a:hover::after {
    width: 100%;
}

.external-link {
    display: flex;
    align-items: center;
    gap: 0.25rem;
    color: rgba(228, 238, 240, 0.9);
    font-weight: 500;
    font-size: 1rem;
    text-decoration: none;
    transition: color 0.3s ease;
}

.external-link:hover {
    color: #ff5b04;
}

.hamburger-menu {
    display: none;
    background: transparent;
    border: none;
    cursor: pointer;
    padding: 5px;
    z-index: 1001;
}

.hamburger-menu .line {
    height: 2px;
    width: 22px;
    background: #e4eef0;
    margin: 4px 0;
    transition: all 0.3s ease;
}

/* Mobile styles */
@media (max-width: 768px) {
    .logo.desktop-logo {
        display: none;
    }

    .hamburger-menu {
        display: block;
        margin-top: 0.7rem;
    }

    .nav-links {
        position: fixed;
        top: 0;
        right: 0;
        height: 100vh;
        width: 80%;
        max-width: 300px;
        flex-direction: column;
        align-items: flex-end;
        background: #16232a;
        padding: 3rem 3rem;
        transform: translateX(100%);
        transition: transform 0.3s ease-in-out;
        z-index: 1000;
        box-shadow: -4px 0 15px rgba(0, 0, 0, 0.2);
        gap: 4rem;
    }

    .nav-links.open {
        transform: translateX(0);
    }

    .nav-links li {
        width: 100%;
    }

    .nav-links li a {
        font-size: 1.05rem;
        padding: 0.4rem 0;
    }

    .nav-links li a.active::after {
        bottom: 0;
    }

    .mobile-logo {
        margin-bottom: 1rem;
    }

    .mobile-social-icons {
        display: flex;
        gap: 1rem;
        position: absolute;
        top: 1.5rem;
        right: 1rem;
        z-index: 99;
    }

    .mobile-social-icons .icon {
        font-size: 1.2rem;
        color: white;
        transition: color 0.3s;
    }

    .mobile-social-icons .icon:hover {
        color: #ff5b04;
    }
}
